# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

#etc
.gradle
build
.idea

#정적 파일(이미지)
photos/

#node
node_modules
build
npm-debug.log
.nyc
.env
.DS_Store

#secret file
application.properties