.album {
  padding: 20px 30px;
  font-family: 'Noto Sans KR', sans-serif;
}

.back {
  color: rgb(230, 134, 78);
  font-weight: 500;
  font-size: 1.3em;
  cursor: pointer;
  width: fit-content;
}

.back span {
  translate: 0 5px;
}

.title {
  margin-top: 10px;
  width: fit-content;
}

.title h1 {
  display: inline;
  margin-right: 20px;
  cursor: pointer;
}

.title > span {
  color: lightslategray;
}

.title > span > span {
  translate: 0 5px;
}

.info {
  width: fit-content;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 20px;
}

.info button {
  width: 200px;
  height: 50px;

  border: 0;
  margin-right: 50px;

  background-color: rgb(230, 134, 78);
  color: white;

  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.3em;
  font-weight: 500;

  cursor: pointer;
}

.info span {
  font-weight: 500;
  font-size: 1.2em;

  margin-right: 50px;
}

.functions {
  height: 50px;
  
  margin-top: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.functions > div:nth-child(1){
  color: rgb(230, 134, 78);
  font-size: 1.2em;
  font-weight: 500;
}

.functions > div:nth-child(1) > span {
  cursor: pointer;
  color: lightslategray;
  translate: 0 5px;
}

.functions > div:nth-child(2){
  color: rgb(164, 74, 33);
  font-weight: 500;
  font-size: 1.1em;
}

.functions > div:nth-child(2) > span {
  cursor: pointer;
}

.order {
  translate: 0 5px;
}

.symbols {
  display: inline-flex;
  justify-content: space-between;
  translate: 0 5px;
  margin-right: 35px;
  width: 150px;
  font-size: 2em;
}

.photos {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.photos > div {
  width: 245px;
  height: 245px;
  margin: 9px;
  text-align: center;
  padding: 5px;
  box-sizing:border-box;
  transition-property: width height;
  transition-duration: 0.3s;
}

.photos img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0 auto;
}

.photoName {
  position: relative;
  translate: 0px -30px;
  width: 60%;
  height: 10%;
  font-family: 'Outfit', 'Noto Sans KR', sans-serif;
  font-size: 1.1em;
  background-color: rgba(119, 136, 153, 0.757);
  padding-left: 5px;
  color: white;
  text-align: left;
  overflow: hidden;
}

.apply {
  position: relative;
  display: inline-block;
  width: 0px;
  translate: -20px 5px;
  color: red;
}

